[buildout]
extends = https://raw.githubusercontent.com/VoteIT/voteit_cookiecutter_buildout/master/buildout_defaults/production.cfg


eggs +=
    voteit.debate
    voteit.irl
    voteit.schulze
    voteit.combined_simple
    voteit.printable
    voteit.dutt
    voteit.stv
    sfs_ga


[crontab-pack]
# m h   dom mon dow | pack wednesday night
times = 20 03   * *  3

[sources]
sfs_ga = git https://github.com/VoteIT/sfs_ga.git
